* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  max-width: 2000px;
  /* height: 100vh; */
  font-family: "montserrat", sans-serif;
  background-image: url(images/bg.png);
  background-size: 100vw;
  background-repeat: no-repeat;
}
body::-webkit-scrollbar {
  width: 20px;
  background-color: rgba(101, 25, 124, 0.219);
  visibility: hidden;
}

body::-webkit-scrollbar-track {
  background-color: rgba(224, 25, 25, 0);
  -webkit-box-shadow: inset 0 0 6px rgb(90, 17, 109);
}

body::-webkit-scrollbar-thumb {
  position: absolute;
  background-image: url(/images/logo.svg);
  background-position: center top, center -40px;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

/* main {
  height: 900vw;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: red solid 2px;
  overflow: hidden;
} */

a {
  text-decoration: none;
}

.navbar a:hover {
  color: #f7b948;
}

/* HEADER */
header {
  /* position: relative; */
  width: 100vw;
  padding-top: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  /* max-width: 1640px; */
  margin: 0 auto;
  display: flex;
  /* gap: 8rem; */
  /* align-items: center; */
  justify-content: space-between;
}

.logo img {
  justify-self: flex-start;
  width: 300px;
  height: 75px;
  cursor: pointer;
  /* margin-left: -20px; */
  border-radius: 15px;
}

.logo img:hover {
  color: #f7b948;
  box-shadow: -2px 24px 30px 0px rgba(39, 13, 65, 0.37);
}

.navbar .links {
  display: flex;
  gap: 5rem;
}

.navbar li {
  list-style: none;
}

.navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  margin-right: 50px;
}

.action_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  background-color: #9949ff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 3px;
  font-family: "inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* HERO */

.hero-container {
  /* border: 2px red solid; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url(images/hero-bg.png.png);
  background-repeat: repeat-y;
  background-position: center;
  background-size: contain;
  width: 100vw;
  gap: 15rem;
  /* height: 965px; */
  text-align: left;
  color: #fff;
  /* margin-bottom: 40px; */
}
#hero {
  max-width: 2000px;

  /* overflow: hidden; */
}

.hero-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* border: 2px red solid; */
  padding-left: 25px;
  /* width: 60%; */
  /* height: 965px; */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  color: #fff;
}

.hero-img {
  display: flex;
  align-items: center;
  /* position: relative; */
  /* left: 65%; */
  /* border: 2px solid red; */
  overflow: hidden;
  /* width: 40%; */
  /* background-image: url(/images/devices.svg);
  background-size: contain;
  background-repeat: no-repeat; */
}
.hero-img img {
  margin-right: -2px;
  /* position: absolute; */
  /* right: -10%; */
}

#hero h1 {
  font-family: "poppins", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2.5rem;
  flex-wrap: wrap;
}

#hero h1 span {
  background: linear-gradient(to right, #e100ff 0%, #7f00ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero p {
  font-family: "montserrat", sans-serif;
  margin-bottom: 4rem;
  font-size: 30px;
}

.button_container {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

.btn {
  color: #fff;
  background-color: #9949ff;
  font-family: "inter", sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding: 0.7rem 2.5rem;
  border: 2px solid #9949ff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn1 {
  color: #f7b948;
  background-color: #000;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding: 0.7rem 3.4rem;
  border: 2px solid;
  border-radius: 5px;
  border-color: #f7b948;
  cursor: pointer;
}

/* SERVICES */
#services {
  background-image: url(images/Services-bg.png);
  background-position: center;
  /* background-color: #f7b948; */
  width: 100vw;
  /* height: 1800px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.info {
  /* overflow: hidden; */
  /* border: 2px blue solid; */
  display: flex;
  justify-content: center;
  margin-top: 70px;
  gap: 7rem;
  /* flex-wrap: wrap; */
  overflow: hidden;
}

.info_text {
  width: 50%;
}

.info_text h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #462076;
}

.info_text h1 span {
  color: #f7b948;
}

.info_text p {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  margin-top: 40px;
}

.info_text p i {
  color: #c995f9;
  size: 20rem;
}

.info_cards {
  /* overflow: hidden; */
  /* border: 2px solid red; */
  width: 640px;
  height: 927px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.cards {
  width: 375px;
  height: 223px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  /* background: #029eff; */
  color: #000;
  border-radius: 10px;
  margin-right: auto;
  box-shadow: 41px 6px 220px -39px #632ea8;
}

.cards1 {
  width: 375px;
  height: 223px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  /*background: #EBF3F8;*/
  color: #000;
  border-radius: 10px;
  margin-left: auto;
  box-shadow: 41px 6px 220px -39px #632ea8d1;
}

.info_cards i {
  margin: 20px 30px;
  color: #f7b948;
}

/* RESPONSIVE DESIGN*/
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
  .info {
    flex-wrap: wrap;
  }
  .hero-container {
    gap: 0;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  .info_cards {
    width: auto;
  }
}
@media (max-width: 380px) {
  .cards {
    padding: 10px 40px;
    width: fit-content;
    height: fit-content;
  }
  .cards1 {
    height: fit-content;
    padding: 10px 40px;
    width: fit-content;
  }
}
@media (max-width: 950px) {
  #client-testimonial {
    opacity: 0;
  }
  .testimonianl-container {
    background-color: red;
    opacity: 0;
  }
}
